.contacts {
    position: relative;
    display: inline-block;
}

    .contacts dd {
        margin-bottom: 1.2em;
        overflow: hidden;
    }

    .contacts dt {
        float: left;
        min-width: 16em;
    }

    .contacts dd::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        transform: translateY(1.5em);
        border-bottom: 1px solid #dadada;
    }

dd {
    display: block;
    margin-inline-start: 40px;
    unicode-bidi: isolate;
}

dt {
    display: block;
    unicode-bidi: isolate;
}

.laoutField {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 610px;
    background: RGB(224, 224, 224);
    padding: 15px;
    z-index: 9999;
}

body {
    font-family: 'Prosto Sans';
    display: block;
    margin: 8px;
    background-image: url('back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
}
